pkgbase = python-aioconsole
	pkgdesc = Asynchronous console and interfaces for asyncio
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/vxgmichel/aioconsole
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = python
	source = https://github.com/vxgmichel/aioconsole/archive/v0.2.0.tar.gz
	md5sums = 9afaf96b09d0bd6260747a00cf5f5eab

pkgname = python-aioconsole

