pkgbase = gnuradio37
	pkgdesc = General purpose DSP and SDR toolkit. With drivers for usrp and fcd.
	pkgver = 3.7.13.5
	pkgrel = 1
	url = https://gnuradio.org
	arch = x86_64
	license = GPL
	makedepends = boost
	makedepends = cmake
	makedepends = python2-lxml
	makedepends = python2-cheetah
	makedepends = glu
	makedepends = swig
	makedepends = pygtk
	makedepends = wxpython
	makedepends = qwt
	makedepends = python2-pyqt5
	depends = fftw
	depends = python2-numpy
	depends = cppunit
	depends = gsl
	depends = blas
	depends = boost-libs>=1.53
	depends = libusbx
	depends = portaudio
	depends = libuhd
	depends = zeromq
	depends = libvolk
	source = https://github.com/gnuradio/gnuradio/releases/download/v3.7.13.5/gnuradio-3.7.13.5.tar.gz
	source = https://github.com/gnuradio/gnuradio/releases/download/v3.7.13.5/gnuradio-3.7.13.5.tar.gz.asc
	source = 21-fcd.rules
	source = gnuradio-qt5.patch
	validpgpkeys = B90DDFAC56989BF62262EB812987C77CBB8ED9B2
	validpgpkeys = D74F9F146E7F755783583158B343B2BA293E5174
	md5sums = 489e5469b516afe6b0638752fb77bc7f
	md5sums = SKIP
	md5sums = 465e12c454c6a22ebec9849181af7bdc
	md5sums = be583483d91906d2cd30c907b9871fa6

pkgname = gnuradio37
	optdepends = boost: gr_modtool
	optdepends = swig: gr_modtool
	optdepends = cmake: gr_modtool
	optdepends = python2-cheetah: gr_modtool
	optdepends = pkgconfig: libuhd
	provides = gnuradio
	conflicts = gnuradio

pkgname = gnuradio37-companion
	pkgdesc = GUI frontend for gnuradio and SDR.
	depends = gnuradio
	depends = python2-cheetah
	depends = python2-lxml
	depends = pygtk
	depends = wxpython
	depends = python2-opengl
	depends = qwt
	depends = python2-numarray
	depends = python2-pyqt5
	provides = gnuradio-companion
	conflicts = gnuradio-companion

