pkgbase = legacyclonk-git
	pkgdesc = An entertaining, action-packed game of strategy, tactics, and skill.
	pkgver = r321.3df363d
	pkgrel = 1
	url = http://clonk.de
	arch = i686
	arch = x86_64
	license = ISC
	license = CCPL:by-nc
	license = custom:trademark
	license = LGPL
	makedepends = git
	makedepends = cmake
	makedepends = p7zip
	depends = glu
	depends = libxpm
	depends = sdl_mixer
	depends = gtk2
	depends = libpng12
	depends = libjpeg-turbo
	depends = desktop-file-utils
	depends = timidity++
	depends = glew
	optdepends = wine: Support for the editor
	provides = legacyclonk
	conflicts = legacyclonk
	source = legacyclonk-git::git+https://github.com/legacyclonk/LegacyClonk.git
	source = http://www.clonkx.de/rage/cr_full_linux.tar.bz2
	source = http://www.clonkx.de/rage/cr_full_win32.exe
	source = legacyclonk.xml
	source = legacyclonk.desktop
	source = legacyclonk.sh
	md5sums = SKIP
	md5sums = a8bb948f02ac9d7950266c2ffbb7692a
	md5sums = b1e7cf51b50fb60938543102cd09d397
	md5sums = 537f7602ed6738da8b486de07577662d
	md5sums = f87f34c51c8d5b46d13b9c5c65f4c5fe
	md5sums = 6d228c1e953aaf06bbeebd63dd0beecf

pkgname = legacyclonk-git

